        
    body{
        font-style: italic;
        font-size: 14px;
        font-family: Arial;
        margin: 20px;
        }
    h1{
        color:#b30000;
        }

    h2{
        color:#003366;
        }
